<form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
  <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="employeeService.selectedEmployee.$key" >
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" name="name" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name" placeholder="Name of your key" required>
  </div>
  <div class="form-group">
    <label>Description</label>
    <input class="form-control" name="description" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.description" placeholder="Description">
  </div>
  <div class="form-group">
    <label>Comment</label>
    <input class="form-control" name="comment" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.comment" placeholder="Comment...">
  </div>
  
  <div class="form-group">
    <button type="submit" class="btn btn-secondary" [disabled] ="!employeeForm.valid" >
      <i class="fa fa-floppy-o"></i> Subtmit </button>
    <button id="second" type="button" class="btn btn-secondary third" (click) = "resetForm(employeeForm)">
      <i class="fa fa-repeat"></i> Reset </button>
    <button id="third" class="btn btn-primary"  (click) ="onLogout()"> 
      <i class="fa fa-sign-out" *ngIf = "isAuth" ></i> Logout </button>  
  </div>

</form>
